:root {
    --bg-color: #D6EAF8;
    --accent-color: #2874A6;
}

body {
    padding: 2%;
    margin: 2%;
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--bg-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: white;
    background-color: var(--accent-color);
}

p {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    border-radius: 0.25em;
    border: 2px dashed var(--accent-color);
}

img {
    margin: 25px;
}

h1,h2,label {
    color: var(--accent-color);
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
}

input {
    padding: 4pt 4pt;
    margin: 2px;
}

button, input[type=submit] {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    margin: 10px 2px;
    padding: 5px;
    background-color: var(--bg-color);
    color: var(--accent-color);
    text-transform: uppercase;
}

button:hover, input[type=submit]:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

table {
    border: 2px solid var(--accent-color);
    width: 75%;
    background-color: white;
}

th {
    text-transform: uppercase;
}

th,td {
    border: 2px solid var(--accent-color);
    width: 20%;
    padding: 0.40em;
    background-color: #93c0f2;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item {
    margin: 1em;
    margin-left: 0em;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: top;
}

.filter {
    width: 25%;
    margin-top: 0em;
    padding-top: 0em;
    margin-left: 0.75em;
    padding-left: 0.75em;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: 10% 18%;
    padding: 10%;
    border: 2px dashed var(--accent-color);
    border-radius: 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form {
    margin: 0.25em 0em;
    display: flex;
    flex-direction: column;
}
