<!DOCTYPE html>
<html>
<head>
    <title>welcome to AIRDB</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<style>
body {font-family: Arial;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
<body>
{% if type %}
    <h1>You are logged in as {{ type }}</h1>
    {% if type == 'admin' %}
        {% if data %}
            {% if tab == 'flight' %}
            <p>
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Departure Airport</th>
                    <th>Departure Gate</th>
                    <th>Departure Time</th>
                    <th>Arrival Airport</th>
                    <th>Arrival Gate</th>
                    <th>Arrival Time</th>
                    <th>Status</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['departairport'] }}</td>
                    <td>{{ row['departgate'] }}</td>
                    <td>{{ row['departtime'] }}</td>
                    <td>{{ row['arriveairport'] }}</td>
                    <td>{{ row['arrivegate'] }}</td>
                    <td>{{ row['arrivetime'] }}</td>
                    <td>{{ row['status'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
            {% endif %}
            
            {% if tab == 'airport' %}
            <table>
                <tr>
                    <td>Airport</td>
                    <td>City</td>
                    <td>Country</td>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row['airport_id'] }}</td>
                    <td>{{ row['city'] }}</td>
                    <td>{{ row['country'] }}</td>
                </tr>
                {% endfor %}
            </table>
            
            {% endif %}
            {% if tab == 'workschedule' %}
            <h1> Work Schedule </h1>
             <p>
             <table>
                <tr>
                    <th>Employee ID</th>
                    <th>Flight ID</th>
                </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row['employee_id'] }}</td>
                    <td>{{ row['flight_id'] }}</td>
                </tr>
            {% endfor %}
            </table>
            </p>
            
            <form action="/workscheduleUI" method="get">
                <p>Filter by Employee ID <input type = "text" name = "e_id" /> <button>Filter</button> </p>
            </form>
            
            <form action="/workscheduleUI" method="get">
                <p>Filter by Flight ID <input type = "text" name = "f_id" /> <button>Filter</button> </p>
            </form>
            
            <form action="/workscheduleUI" method="post">
                <p>Add employee to flight <input type = "text" name = "e_id" /> <input type = "text" name = "f_id" /> <button>Add</button> </p>
            </form>
            
             <form action="/workscheduleUI" method="delete">
                <p>Remove employee from flight <input type = "text" name = "e_id" /> <input type = "text" name = "f_id" /> <button>Remove</button> </p>
            </form>
            
          
            {% endif %}
            
            {% if tab == 'baggage' %}
            <p>
            <table>
                <tr>
                    <th>Itinerary ID</th>
                    <th>Bag ID</th>
                    <th>Weight</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['itinerary_id'] }}</td>
                    <td>{{ row['bag_id'] }}</td>
                    <td>{{ row['weight'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
       
            {% endif %}
            {% if tab == 'aircraft' %}
            <p>
            <table>
                <tr>
                    <th>Aircraft ID</th>
                    <th>Status</th>
                    <th>Last Maintained</th>
                    <th>Airport</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['status'] }}</td>
                    <td>{{ row['last_maintained'] }}</td>
                    <td>{{ row['airport_id'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
  
            {% endif %}
            
            {% if tab == 'customer' %}
            <p>
            <table>
                <tr>
                    <th>Customer ID</th>
                    <th>Flight ID</th>
                    <th>Itinerary ID</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row[] }}</td>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['itinerary_id'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
            
            
   
 	        {% endif %}
        {% endif %}
    {% endif %}
 {% else %}
 	<h1>403 FORBIDDEN</h1>
 {% endif %}
 </body>
 
 <form action="/main" method="post">
            <button>Back to Main Menu</button>
        </form>
 </html>