<!DOCTYPE html>
<html>
<head>
    <title>welcome to AIRDB</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
{% if type %}
    <h1>You are logged in as {{ type }}</h1>
    {% if type == 'admin' %}
        {% if data %}
            {% if tab == 'flight' %}
            <p>
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Departure Airport</th>
                    <th>Departure Gate</th>
                    <th>Departure Time</th>
                    <th>Arrival Airport</th>
                    <th>Arrival Gate</th>
                    <th>Arrival Time</th>
                    <th>Status</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['departairport'] }}</td>
                    <td>{{ row['departgate'] }}</td>
                    <td>{{ row['departtime'] }}</td>
                    <td>{{ row['arriveairport'] }}</td>
                    <td>{{ row['arrivegate'] }}</td>
                    <td>{{ row['arrivetime'] }}</td>
                    <td>{{ row['status'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
            {% endif %}
            
            {% if tab == 'airport' %}
            <table>
                <tr>
                    <td>Airport</td>
                    <td>City</td>
                    <td>Country</td>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row['airport_id'] }}</td>
                    <td>{{ row['city'] }}</td>
                    <td>{{ row['country'] }}</td>
                </tr>
                {% endfor %}
            </table>
            
            {% endif %}
            {% if tab == 'workschedule' %}
            <h1> Work Schedule </h1>
             <p>
             <table>
                <tr>
                    <th>Employee ID</th>
                    <th>Flight ID</th>
                </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row['employee_id'] }}</td>
                    <td>{{ row['flight_id'] }}</td>
                </tr>
            {% endfor %}
            </table>
            </p>
            
            <form action="/workscheduleUI" method="get">
                <button>Show All</button>
            </form>
            
            <form action="/workscheduleUI" method="get" >
                <p>Filter by Employee ID <input type = "text" name = "e_id" /> <input type='submit' name="filteremp" value="Submit"/> </p>
            </form>
            
            <form action="/workscheduleUI" method="get" >
                <p>Filter by Flight ID <input type = "text" name = "f_id" /> <input type='submit' name="filterflight" value="Submit"/> </p>
            </form>
            
            <form action="/workscheduleUI" method="get">
                <p>Add employee <input type = "text" name = "e_id" /> to flight  <input type = "text" name = "f_id" /> <input type='submit' name="add" value="Submit"/> </p>
            </form>
            
             <form action="/workscheduleUI" method="get">
                <p>Remove employee  <input type = "text" name = "e_id" />  from flight <input type = "text" name = "f_id" /> <input type='submit' name="delete" value="Submit"/> </p>
            </form>
            
          
            {% endif %}
            
            {% if tab == 'baggage' %}
            <p>
            <table>
                <tr>
                    <th>Itinerary ID</th>
                    <th>Bag ID</th>
                    <th>Weight</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['itinerary_id'] }}</td>
                    <td>{{ row['bag_id'] }}</td>
                    <td>{{ row['weight'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
       
            {% endif %}
            {% if tab == 'aircraft' %}
            <p>
            <table>
                <tr>
                    <th>Aircraft ID</th>
                    <th>Status</th>
                    <th>Last Maintained</th>
                    <th>Airport</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['status'] }}</td>
                    <td>{{ row['last_maintained'] }}</td>
                    <td>{{ row['airport_id'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
  
            {% endif %}
            
            {% if tab == 'customer' %}
            <p>
            <table>
                <tr>
                    <th>Customer ID</th>
                    <th>Flight ID</th>
                    <th>Itinerary ID</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row[] }}</td>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['itinerary_id'] }}</td>
                </tr>
                {% endfor %} 
            </table>
            </p>
            
            
   
 	        {% endif %}
        {% endif %}
         <form action="/main" method="post">
            <button>Back to Main Menu</button>
        </form>
    {% endif %}
    {% if type == 'user' %}
        <table>
 	        <tr>
 			    <th>Itinerary #</th>
 				<th>Seat Type</th>
 				<th>Seat Cost</th>
 				<th>Status</th>
 			</tr>
 		{% for row in data %}
 			<tr>
 				<td>{{ row['itinerary_id'] }}</td>
 				<td>{{ row['seattype'] }}</td>
 				<td>{{ row['seatcost'] }}</td>
 				<td>{{ row['status'] }}</td>
 			</tr>
 		{% endfor %}
 		</table>
 		{% endif %}
        
 {% else %}
 	<h1>403 FORBIDDEN</h1>
 {% endif %}
 </body>
 

 </html>