{% extends "main.html" %}
{% block body %}

    {% if type == 'admin' %}
        
            {% if tab == 'airport' %}
            <h2>Airports</h2>
            <div class="container">
            <table>
                <tr>
                    <th>Airport</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Number of Aircraft Maintained</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row['airport_id'] }}</td>
                    <td>{{ row['city'] }}</td>
                    <td>{{ row['country'] }}</td>
                    <td>{{ row['total_aircraft'] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            {% endif %}

            {% if tab == 'flight' %}
            <h2>Flights</h2>
            <div class="container">
            {% if data %}
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Departure Airport</th>
                    <th>Departure Gate</th>
                    <th>Departure Time</th>
                    <th>Arrival Airport</th>
                    <th>Arrival Gate</th>
                    <th>Arrival Time</th>
                    <th>Status</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['departairport'] }}</td>
                    <td>{{ row['departgate'] }}</td>
                    <td>{{ row['departtime'] }}</td>
                    <td>{{ row['arriveairport'] }}</td>
                    <td>{{ row['arrivegate'] }}</td>
                    <td>{{ row['arrivetime'] }}</td>
                    <td>{{ row['status'] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if data2 %}
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Arrival Airport</th>
                    <th>Arrival Gate</th>
                    <th>Arrival Time</th>
                    <th>Status</th>
                </tr>
                {% for row in data2 %}
                </tr>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['arriveairport'] }}</td>
                    <td>{{ row['arrivegate'] }}</td>
                    <td>{{ row['arrivetime'] }}</td>
                    <td>{{ row['status'] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            
            {% if data3 %}
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Departure Airport</th>
                    <th>Departure Gate</th>
                    <th>Departure Time</th>
                    <th>Status</th>
                </tr>
                {% for row in data3 %}
                </tr>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['departairport'] }}</td>
                    <td>{{ row['departgate'] }}</td>
                    <td>{{ row['departtime'] }}</td>
                    <td>{{ row['status'] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            
            <div class="filter">
                <form action="/admin-flight-view" method="GET">
                    <input type="hidden" name="delayed" value=False />
                    <button>Show All Flights</button>
                </form>
                <form action="/admin-flight-view" method="GET">
                    <input type="hidden" name="delayed" value=True />
                    <button>Show All Delayed Flights</button>
                </form>
                <form action="/admin-flight-view" method="POST">
                    <p> <label>Update</label>
                        <input type="text" name="f_id" placeholder="Flight ID" />
                        <input type="text" name="status" placeholder="Status" />
                        <input type='submit' name="updatestatus" value="Submit" />
                    </p>
                </form>
                <form action="/admin-flight-view" method="POST">
                <p> <label>Filter by Arriving Flights</label>
                    <input type="text" name="ap_id" placeholder="Airport_ID" />
                    <input type='submit' name="filterarriving" value="Submit" />
                </p>
                </form>
                <form action="/admin-flight-view" method="POST">
                <p> <label>Filter by Departing Flights</label>
                    <input type="text" name="ap_id" placeholder="Airport_ID" />
                    <input type='submit' name="filterdeparting" value="Submit" />
                </p>
                </form>
            </div>
            </div>

            {% endif %}

            {% if tab == 'workschedule' %}
            <h2>Work Schedule</h2>
            <div class="container">
            <table>
                <tr>
                    <th>Employee ID</th>
                    <th>Flight ID</th>
                </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row['employee_id'] }}</td>
                    <td>{{ row['flight_id'] }}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="filter">
                <form action="/admin-work-schedule-view" method="GET">
                    <button>Remove Filter</button>
                </form>

                <form action="/admin-work-schedule-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name="e_id" placeholder="Employee ID" />
                        <input type='submit' name="filteremp" value="Submit"/>
                    </p>
                </form>

                <form action="/admin-work-schedule-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name ="f_id" placeholder="Flight ID" />
                        <input type='submit' name="filterflight" value="Submit"/>
                    </p>
                </form>

                <form action="/admin-work-schedule-view" method="POST">
                    <p> <label>Add</label>
                        <input type="text" name="e_id" placeholder="Employee ID" />
                        <input type="text" name="f_id" placeholder="Flight ID" />
                        <input type='submit' name="add" value="Submit"/>
                    </p>
                </form>

                 <form action="/admin-work-schedule-view" method="POST">
                    <p> <label>Remove</label>
                        <input type="text" name="e_id" placeholder="Employee ID" />
                        <label>from</label>
                        <input type="text" name="f_id" placeholder="Flight ID" />
                        <input type='submit' name="delete" value="Submit"/>
                    </p>
                </form>
            </div>
            </div>
            {% endif %}

            {% if tab == 'employee' %}
            <h2>Employees</h2>
            <div class="container">
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Employee ID</th>
                    <th>Hours</th>
                    <th>Type</th>
                    <th>Wage</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['hours'] }}</td>
                    <td>{{ row['type'] }}</td>
                    <td>{{ row['wage'] }}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="filter">
                <form action="/admin-employee-view" method="POST">
                    <p> <label>Add</label>
                        <input type="text" name="name" placeholder="Name" />
                        <input type="text" name="type" placeholder="Employee Type" />
                        <input type="text" name="wage" placeholder="Wage" />
                        <input type='submit' name="add" value="Submit"/>
                    </p>
                </form>

                 <form action="/admin-employee-view" method="POST">
                    <p> <label>Delete</label>
                        <input type="text" name="e_id" placeholder="Employee ID" />
                        <input type='submit' name="delete" value="Submit"/>
                    </p>
                </form>
            </div>
            </div>
            {% endif %}

            {% if tab == 'baggage' %}
            <h2>Baggage Directory</h2>
            <div class="container">
            <table>
                <tr>
                    <th>Itinerary ID</th>
                    <th>Bag ID</th>
                    <th>Weight</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['itinerary_id'] }}</td>
                    <td>{{ row['bag_id'] }}</td>
                    <td>{{ row['weight'] }}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="filter">
                <form action="/admin-baggage-view" method="GET">
                    <button>Remove Filter</button>
                </form>

                <form action="/admin-baggage-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name="f_id" placeholder="Flight ID" />
                        <input type='submit' name="filterflight" value="Submit"/>
                    </p>
                </form>

                <form action="/admin-baggage-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name ="i_id" placeholder="Itinerary ID" />
                        <input type='submit' name="filteritinerary" value="Submit"/>
                    </p>
                </form>
            </div>
            </div>
            {% endif %}

            {% if tab == 'aircraft' %}
            <h2>Fleet</h2>
            <div class="container">
            <table>
                <tr>
                    <th>Aircraft ID</th>
                    <th>Status</th>
                    <th>Last Maintained</th>
                    <th>Airport</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['status'] }}</td>
                    <td>{{ row['last_maintained'] }}</td>
                    <td>{{ row['airport_id'] }}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="filter">
                <form action="/admin-aircraft-view" method="GET">
                    <button>Remove Filter</button>
                </form>

                <form action="/admin-aircraft-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name="airport_id" placeholder="Airport ID" />
                        <input type='submit' name="filterairport" value="Submit"/>
                    </p>
                </form>

                <form action="/admin-aircraft-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name="status" placeholder="Status" />
                        <input type='submit' name="filterstatus" value="Submit"/>
                    </p>
                </form>

                <form action="/admin-aircraft-view" method="POST">
                    <p> <label>Update</label>
                        <input type="text" name="ac_id" placeholder="Aircraft ID" />
                        <input type="text" name="status" placeholder="Aircraft Status" />
                        <input type='submit' name="updatestatus" value="Submit"/>
                    </p>
                </form>
            </div>
            </div>
            {% endif %}

            {% if tab == 'customer' %}
            <h2>Customer Directory</h2>
            <div class="container">
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Itinerary ID</th>
                    <th>Customer ID</th>
                    <th> Seat Type </th>
                    <th> Status</th>
                </tr>
                {% for row in data %}
                </tr>
                    <td>{{ row['flight_id'] }}</td>
                    <td>{{ row['itinerary_id'] }}</td>
                    <td>{{ row['customer_id'] }}</td>
                    <td>{{ row['seattype'] }}</td>
                    <td>{{ row['status'] }}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="filter">
                <form action="/admin-customer-view" method="GET">
                    <button>Remove Filter</button>
                </form>

                <form action="/admin-customer-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name="i_id" placeholder="Itinerary ID" />
                        <input type='submit' name="filteritinerary" value="Submit"/>
                    </p>
                </form>

                <!--
                <form action="/admin-customer-view" method="POST" >
                    <p> <label>Filter</label>
                        <input type="text" name="c_id" placeholder="Customer ID" />
                        <input type='submit' name="filtercustomer" value="Submit"/>
                    </p>
                </form>
                NOT IMPLEMENTED
                -->

                <form action="/admin-customer-view" method="POST">
                    <p> <label>Check In Customer</label>
                        <input type="text" name="c_id" placeholder="Customer ID" />
                        <input type='submit' name="updatestatus" value="Submit" />
                    </p>
                </form>
            </div>
            </div>
            {% endif %}

         <!-- end data -->

         <form action="/main" method="post">
            <button>Clear</button>
        </form>

    {% endif %} <!-- end admin -->
    {% if type == 'user' %}
        {% if tab == 'account' %}
        <h2>Customer Info</h2>
        <div class="container">
            <div>
            <table class="container-item">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                {% for row in data1 %}
                <tr>
                    <td>{{ row['customer_name'] }}</td>
                    <td>{{ row['customer_age'] }}</td>
                    <td>{{ row['customer_email'] }}</td>
                    <td>{{ row['customer_phone'] }}</td>
                </tr>
                {% endfor %}
            </table>

            <table class="container-item">
            <h2><br />Frequent Flier Information</h2>
                <tr>
                    <th>Miles</th>
                </tr>
                {% for row in data2 %}
                <tr>
                    <td>{{ row['frequentflier_miles'] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>

            <div class="filter">
                <form action="/user-account-view" method="POST">
                    <p> <label>Update</label>
                        <input type="text" name="email" placeholder="Email" />
                        <input type='submit' name="updateemail" value="Submit" />
                    </p>
                </form>
                <form action="/user-account-view" method="POST">
                    <p> <label>Update</label>
                        <input type="text" name="phone" placeholder="Phone #" />
                        <input type='submit' name="updatephone" value="Submit" />
                    </p>
                </form>
            </div>

        </div>
        {% endif %}

        {% if tab == 'itinerary' %}
        <h2> All Upcoming Itineraries for Customer </h2>
        <div class="container">
            <div>
            <table class="container-item">
                <tr>
                    <th>Itinerary #</th>
                    <th>Seat Type</th>
                    <th>Seat Cost</th>
                    <th>Status</th>
                    <th>Total Flight Distance</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row['itinerary_id'] }}</td>
                    <td>{{ row['seattype'] }}</td>
                    <td>{{ row['seatcost'] }}</td>
                    <td>{{ row['status'] }}</td>
                    <td>{{ row['total_distance'] }}</td>
                </tr>
                {% else %}
                <h3>No itinerary found!</h3>
                {% endfor %}
            </table>

            <h2> Past Itineraries for Customer </h2>
            <table class="container-item">
                <tr>
                    <th>Itinerary #</th>
                    <th>Seat Type</th>
                    <th>Seat Cost</th>
                    <th>Status</th>
                </tr>
                {% for row in data2 %}
                <tr>
                    <td>{{ row['itinerary_id'] }}</td>
                    <td>{{ row['seattype'] }}</td>
                    <td>{{ row['seatcost'] }}</td>
                    <td>{{ row['status'] }}</td>
                </tr>
                {% else %}
                <h3>No itinerary found!</h3>
                {% endfor %}
            </table>
            </div>
            
         <div class="filter">
            <form action="/user-itinerary-view" method="POST">
                <p> <label>Check in to your trip</label>
                    <input type="text" name="i_id" placeholder="Itinerary ID" />
                    <input type='submit' name="updatestatus" value="Submit" />
                </p>
            </form>

            <form action="/user-itinerary-view" method="POST">
                <p> <label>Cancel a trip</label>
                    <input type="text" name="i_id" placeholder="Itinerary ID" />
                    <input type='submit' name="delete" value="Submit"/>
                </p>
            </form>

            <form action="/user-itinerary-view" method="POST">
                <p> <label>Upgrade seats</label>
                    <input type="text" name="i_id" placeholder="Itinerary ID" />
                    <select name="seat">
                        <option value="FIRSTCLASS">First Class</option>
                        <option value="BUSINESS">Business Class</option>
                    </select>
                    <input type='submit' name="updateseat" value="Submit" />
                </p>
            </form>
        </div>

        </div>
        {% endif %}

        {% if tab == 'specific' %}

        <form action="/user-specific-view" method="POST">
            <p class="selector"> <label>Enter</label>
                <input type="text" name="i_id" placeholder="Itinerary ID" />
                <input type='submit' name="chooseitinerary" value="Submit" />
            </p>
        </form>

        {% if data1 %}
        <h2>Itinerary Information</h2>
        <div class="container">
            <div>
            <table class="container-item">
                <tr>
                    <th>Flight ID</th>
                    <th>Departure City </th>
                    <th>Departure Time </th>
                    <th>Arrival City </th>
                    <th>Arrival Time </th>
                    <th>Status </th>
                </tr>
                {% for row in data1 %}
                <tr>
                    <td>{{row['flight_id']}}</td>
                    <td>{{row['departure_city']}}</td>
                    <td>{{row['departure_time']}}</td>
                    <td>{{row['arrival_city']}}</td>
                    <td>{{row['arrival_time']}}</td>
                    <td>{{row['status']}}</td>
                </tr>
                {% endfor %}
            </table>
            <h2><br />Baggage on Itinerary </h2>
            <table class="container-item">
                <tr>
                    <th>Itinerary ID</th>
                    <th>Bag ID</th>
                    <th>Weight</th>
                </tr>
                {% for row in data2 %}
                <tr>
                    <td>{{ row['itinerary_id'] }}</td>
                    <td>{{ row['bag_id'] }}</td>
                    <td>{{ row['weight'] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div> <!-- end tables -->

            <div class="filter">
            <form action="/user-specific-view" method="POST">
                <p> <label>Add bag to itinerary</label>
                    <input type="text" name="i_id" placeholder="Itinerary ID" />
                    <input type="text" name="b_weight" placeholder="Baggage Weight" />
                    <input type='submit' name="addbaggage" value="Submit" />
                </p>
            </form>

            <form action="/user-specific-view" method="POST">
                <p> <label>Delete bag from itinerary</label>
                    <input type="text" name="i_id" placeholder="Itinerary ID" />
                    <input type="text" name="b_id" placeholder="Baggage ID" />
                    <input type="submit" name="removebaggage" value="Submit" />
                </p>
            </form>
            </div>
        </div> <!-- end container -->
        {% endif %}
    {% endif %} <!-- end tab -->
    {% endif %} <!-- end user -->

    {% if type=='employee' %}
        {% if data1 %}
        <div><h1> Employee Info </h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Employee Type</th>
                    <th>Hours</th>
                    <th>Wage</th>
                </tr>
                {% for row in data1 %}
                </tr>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['type'] }}</td>
                    <td>{{ row['hours'] }}</td>
                    <td>{{ row['wage'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if data2 %}
    <div><h1> Assigned Flights </h1>
         <table>
              <tr>
                  <th>Flight ID</th>
                  <th>Departure City </th>
                  <th>Departure Time </th>
                  <th>Arrival City </th>
                  <th>Arrival Time </th>
                  <th>Status </th>
              </tr>
              {% for row in data2 %}
              <tr>
                  <td>{{row['flight_id']}}</td>
                  <td>{{row['departure_city']}}</td>
                  <td>{{row['departure_time']}}</td>
                  <td>{{row['arrival_city']}}</td>
                  <td>{{row['arrival_time']}}</td>
                  <td>{{row['status']}}</td>
              </tr>
              {% endfor %}
         </table>
    </div>
        {% endif %}

        {% if data3 %}
    <div><h1> VIPs </h1>
         <table>
              <tr>
                  <th>Customer ID</th>
                  <th>Name </th>
                  <th>Age</th>
                  <th>Email</th>
                  <th>Phone</th>
              </tr>
              {% for row in data3 %}
              <tr>
                  <td>{{row['id']}}</td>
                  <td>{{row['name']}}</td>
                  <td>{{row['age']}}</td>
                  <td>{{row['email']}}</td>
                  <td>{{row['phone']}}</td>
              </tr>
              {% endfor %}
         </table>
    </div>
        {% endif %}

    {% endif %}   <!-- end employee -->

    {% if type == 'none' %}
        <h1>403 FORBIDDEN</h1>
    {% endif %}

<!-- for alert passing -->
    {% block message %}
    {% endblock %}
<!-- -->
{% endblock %}
