<!DOCTYPE html>
<html>
<head>
	<title>login to AIRDB</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
	<div class="wrapper">
		<img height="200px" src="../static/airdb.png">
		<div>
			<h1>welcome to airdb</h1>
			<form action="/login" method="POST">
				<div class="form">
					<label>username: </label>
					<input type="text" name="username" />
				</div>
				<div class="form">
					<label>password: </label>
					<input type="password" name="password" />
				</div>
				<input type="submit" value="login">
			</form>
		</div>
	</div>
</body>

</html>