<!DOCTYPE html>
<html>
<head>
    <title>login to AIRDB</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
    <div class="wrapper">
        <img height="200px" src="../static/airdb.png">
        <div>
            <div class="form">
            <h1>welcome to airdb</h1>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="username" />
                    <input type="password" name="password" placeholder="password" />
                    <input type="submit" value="login">
                </form>
            </div>
        </div>
    </div>
</body>

</html>