<!DOCTYPE html>
<html>
<head>
    <title>welcome to AIRDB</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
{% if type %}
    <h1>You are logged in as {{ type }}</h1>
    
        {% if type == 'admin' %}
        <h2>Main Menu</h2>
        <form action="/flightUI" method="post">
            <button>Go to Flights</button>
        </form>
        
        <form action="/workscheduleUI" method="post">
            <button>Go to Work Schedule</button>
        </form>
        
        <form action="/airportUI" method="post">
            <button>Go to Airports</button>
        </form>
        
        <form action="/baggageUI" method="post">
            <button>Go to Baggage</button>
        </form>
        
        <form action="/aircraftUI" method="post">
            <button>Go to Aircraft Fleet</button>
        </form>
        
        <form action="/customerUI" method="post">
            <button>Go to Customer Flight Information</button>
        </form>
        
        {% endif %}
        
        {% if type == 'user' %}
        <table>
            <tr>
                <th>Itinerary #</th>
                <th>Seat Type</th>
                <th>Seat Cost</th>
                <th>Status</th>
            </tr>
        {% for row in data %}
            <tr>
                <td>{{ row['itinerary_id'] }}</td>
                <td>{{ row['seattype'] }}</td>
                <td>{{ row['seatcost'] }}</td>
                <td>{{ row['status'] }}</td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
{% else %}
    <h1>403 FORBIDDEN</h1>
    <p>Please login!</p>
{% endif %}
</body>
</html>