<!DOCTYPE html>
<head>
    <title>welcome to AIRDB</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
{% if type %}
    <div class="container">
        <h3>You are logged in as {{ type }}, <a href="/logout">click here</a> to logout</h3>
    </div>
    <div class="menu">    
        {% if type == 'admin' %}
            <h2 class="menu-item">Main Menu &#9992;</h2>
            <form action="/flightUI" method="GET">
                <button class="menu-item">Flights</button>
            </form>
        
            <form action="/workscheduleUI" method="GET">
                <button class="menu-item">Work Schedule</button>
            </form>
        
            <form action="/employeeUI" method="GET">
                <button class="menu-item">Employees</button>
            </form>
            
            <form action="/airportUI" method="post">
                <button class="menu-item">Airports</button>
            </form>
        
            <form action="/baggageUI" method="GET">
                <button class="menu-item">Baggage</button>
            </form>
        
            <form action="/aircraftUI" method="GET">
                <button class="menu-item">Aircraft Fleet</button>
            </form>
        
            <form action="/customerUI" method="GET">
                <button class="menu-item">Customer Flight Information</button>
            </form>
           
        {% endif %}
        
        {% if type == 'user' %}
            {% if data %}
                <table>
                    <tr>
                        <th>Itinerary #</th>
                        <th>Seat Type</th>
                        <th>Seat Cost</th>
                        <th>Status</th>
                    </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ row['itinerary_id'] }}</td>
                        <td>{{ row['seattype'] }}</td>
                        <td>{{ row['seatcost'] }}</td>
                        <td>{{ row['status'] }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        {% endif %}

        {% if type == 'employee' %}            
        {% endif %}

        {% if type == 'none' %}
            <h1>403 FORBIDDEN</h1>
            <p>Please login!</p>
        {% endif %}
    
    </div>
{% endif %}
{% block body %}{% endblock %}